.login-container {
  background: linear-gradient(to bottom right, #4b0000, #ffffff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #4b0000;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #4b0000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: #720000;
}

.erro {
  color: red;
  margin-top: 10px;
}
