.navbar {
  background-color: var(--primary-color);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo img {
  height: 140px;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  transition: var(--transition);
}

.nav-link i {
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: var(--primary-light);
  transform: translateY(-2px);
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-links {
    gap: 15px;
  }

  .nav-link span {
    display: none;
  }

  .nav-link {
    padding: 8px;
  }

  .nav-link i {
    font-size: 1.4rem;
  }
  .carrinho-link {
  position: relative;
  }

.carrinho-badge {
  position: absolute;
  top: -6px;
  right: 4px;
  background-color: #fff;
  color: #800000;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

}
